{{#comments}}
	<li>
		<p class="metadata {{#deleted}}deleted{{/deleted}}">
			{{#deleted}}<span>[deleted]</span>{{/deleted}}
			{{^deleted}}<b class="user">{{user}}</b>{{/deleted}}
			<time><a href="#" data-id="{{id}}" class="comment-permalink">{{time_ago}}</a></time>
		</p>
		{{^deleted}}
			<p>{{{content}}}
		{{/deleted}}
		<ul>
			{{>comments_list}}
		</ul>
	</li>
{{/comments}}
