{{#comments}}
	<li>
		<p class="metadata"><b class="user">{{user}}</b> <time><a href="#" data-id="{{id}}" class="comment-permalink">{{time_ago}}</a></time></p>
		<p>{{{content}}}
		<ul>
			{{>comments_list}}
		</ul>
	</li>
{{/comments}}