{{#comments}}
	<li>
		<p class="metadata {{#deleted}}deleted{{/deleted}}">
			{{#deleted}}<span>[deleted]</span>{{/deleted}}
			{{^deleted}}<a href="https://news.ycombinator.com/user?id={{user}}" target="_blank"><b class="user">{{user}}</b></a>{{/deleted}}
			<time><a href="https://news.ycombinator.com/item?id={{id}}" target="_blank">{{time_ago}}</a></time>
		</p>
		{{^deleted}}
			<p>{{{content}}}
			<ul>
				{{>comments_list}}
			</ul>
		{{/deleted}}
	</li>
{{/comments}}
