{{#comments}}
	<li>
		<p class="metadata"><a href="#/user/{{user}}" class="user">{{user}}</a> <time>{{time_ago}}</time></p>
		<p>{{{content}}}
		<ul>
			{{>comments_list}}
		</ul>
	</li>
{{/comments}}