<div class="post-content">
	<header class="user">
		<h1>
			{{id}}
		</h1>
		<span class="karma">Karma: {{karma}}</span>
		<p class="metadata">
			Created: {{created}}
			<br>
			Average: {{avg}}
		</p>
	</header>
</div>
<section class="comments">
	<ul>
		<li>
			<div>
				<p class="metadata"><b>About</b></p>
			</div>
			{{{about}}}
		</li>
	</ul>
</section>